## pandas 다중 인덱스(multi index) 연습문제

필요 모듈 임포트

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### 1. 다음과 같이 다중인덱스를 갖는 데이터프레임을 생성하시오.

- 행인덱스 레벨 = 2
- 열인덱스 레벨 = 2
- 데이터 크기는 (6,4)이며 값은 (0,1) 사이의 난수를 갖음
- 인덱스는 MultiIndex를 생성하는 방법을 사용

In [24]:
data = np.random.rand(6,4)
columns = pd.MultiIndex.from_product([['A','B'],['C1','C2']])
# arrays = np.array([['M']*3 + ['F']*3,['id_'+str(i) for i in range(1,4)] * 2])
# index = pd.MultiIndex.from_arrays(arrays)
index = pd.MultiIndex.from_product([['M','F'],['id1','id2','id3']])

df = pd.DataFrame(data, index=index, columns=columns)
df

              A                   B
             C1        C2        C1        C2
M id1  0.905126  0.595571  0.237294  0.956262
  id2  0.463088  0.757795  0.181861  0.777365
  id3  0.940539  0.605399  0.579788  0.431092
F id1  0.096144  0.128991  0.985234  0.613259
  id2  0.259545  0.486217  0.481555  0.697882
  id3  0.998354  0.126096  0.125869  0.795900

#### 2. df의 'A'열을 출력하시오.

In [25]:
df['A']

             C1        C2
M id1  0.905126  0.595571
  id2  0.463088  0.757795
  id3  0.940539  0.605399
F id1  0.096144  0.128991
  id2  0.259545  0.486217
  id3  0.998354  0.126096

In [26]:
df.A

             C1        C2
M id1  0.905126  0.595571
  id2  0.463088  0.757795
  id3  0.940539  0.605399
F id1  0.096144  0.128991
  id2  0.259545  0.486217
  id3  0.998354  0.126096

In [27]:
df.loc[:,'A']

             C1        C2
M id1  0.905126  0.595571
  id2  0.463088  0.757795
  id3  0.940539  0.605399
F id1  0.096144  0.128991
  id2  0.259545  0.486217
  id3  0.998354  0.126096

#### 3. df의 'F'행을 출력하시오.

In [9]:
df.loc['F']

             A                   B
            C1        C2        C1        C2
id_1  0.890569  0.071484  0.877274  0.772862
id_2  0.335366  0.730732  0.398256  0.443014
id_3  0.873015  0.424990  0.763697  0.295151

#### 4. df의 'A'열의 'C1'열을 출력하시오.

In [28]:
df.A.C1

M  id1    0.905126
   id2    0.463088
   id3    0.940539
F  id1    0.096144
   id2    0.259545
   id3    0.998354
Name: C1, dtype: float64

#### 5. df의 'M'행의  'id_1'행을 출력하시오.

In [12]:
df.loc['M','id1']

A  C1    0.942717
   C2    0.829115
B  C1    0.013931
   C2    0.871577
Name: (M, id_1), dtype: float64

#### 6. df의 ('M', 'id1')행 'A'열을 출력하시오.

In [13]:
df.loc['M','id1']['A']

C1    0.942717
C2    0.829115
Name: (M, id_1), dtype: float64

#### 7. df의 ('M', 'id1')행 ('A','C1')열 요소를 출력하시오.

In [14]:
df.loc['M','id1']['A','C1']

0.9427167367008474

#### 8. df의 4행 4열의 요소를 출력하시오.

In [17]:
df.iloc[3,3]

0.7728620610185944

In [22]:
df.loc['F','id1']['B','C2']

10.0

#### 9. df의 4행 4열의 요소를 10으로 변경하시오.

In [19]:
df.iloc[3,3] = 10
df

               A                   B
              C1        C2        C1         C2
M id_1  0.942717  0.829115  0.013931   0.871577
  id_2  0.619148  0.113121  0.263517   0.726525
  id_3  0.350761  0.996082  0.185040   0.902671
F id_1  0.890569  0.071484  0.877274  10.000000
  id_2  0.335366  0.730732  0.398256   0.443014
  id_3  0.873015  0.424990  0.763697   0.295151

-----